.home {
  @include bodyType;

  &__container {
    padding: 1.6rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 1.6rem;
    @include serifType;
    text-align: center;
  }

  &__images {
    height: 30vw;
    max-height: 90vh;
    width: 100%;
    position: relative;

    &--container {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &--wrapper {
      position: absolute;
      height: 100%;
    }

    &--image {
      height: 100%;
      width: 100%;
      opacity: 0;
    }

    &--nav {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: row;
      z-index: 10;

      &__left {
        flex: 50%;
        cursor: w-resize;
      }

      &__right {
        flex: 50%;
        cursor: e-resize;
      }
    }
  }
}
