@font-face {
  font-family: 'garamond';
  src: url('/fonts/Garamond-Reg.otf') format('opentype');
}

@font-face {
  font-family: 'helvetica';
  src: url('/fonts/Helvetica-Med.otf') format('opentype');
}

@mixin serifType {
  font-family: 'garamond';
  font-size: 1.6rem;
  line-height: 2rem;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'ss03' on,
    'liga' off;
}

@mixin bodyType {
  font-family: 'helvetica';
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 600;
  text-edge: cap;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings:
    'ss03' on,
    'liga' off;
}
